@charset "UTF-8";
/*--------------------------------------
Colors
--------------------------------------*/
/*--------------------------------------
General
--------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #5AB5AA;
}
a:hover {
  color: #5AB5AA;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------
Back to top button
--------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}
.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: #5AB5AA;
  color: #ffff;
  transition: all 0.4s;
}
.back-to-top i:hover {
  background: #5AB5AA;
  color: #ffff;
}

/*--- Disable AOS delay on mobile ---*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0s !important;
  }
}
/*--------------------------------------
Header
--------------------------------------*/
#header {
  height: 70px;
  transition: all 0.5s;
  z-index: 997;
  background: rgba(42, 44, 57, 0.9);
}
#header.header-transparent {
  background: transparent;
}
#header.header-transparent #header-title {
  color: #ffff;
}
#header.header-scrolled {
  background: #ffff;
  -webkit-box-shadow: 1px 0 10px rgba(0, 0, 0, 0.8);
  box-shadow: 1px 0 10px rgba(0, 0, 0, 0.8);
}
#header.header-scrolled .logo a, #header.header-scrolled a {
  color: #4e616c;
}
#header.header-scrolled .logo a:hover, #header.header-scrolled a:hover {
  color: #ffff;
}
#header.header-scrolled li.active a {
  color: #ffff;
}
#header.header-scrolled #header-title {
  color: #4e616c;
}
#header .logo h1 {
  font-size: 28px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1px;
}
#header .logo a, #header .logo h1 a:hover {
  color: #4e616c;
  text-decoration: none;
}
#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 60px;
}
#header .logo #header-title {
  margin-left: -3%;
  display: inline-block;
  position: relative;
  top: 5px;
  font-size: 30px;
}

/*--------------------------------------
Navigation Menu
--------------------------------------*/
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}
.nav-menu a {
  display: block;
  position: relative;
  color: #ffff;
  padding: 5px 15px 7px 15px;
  margin-left: 5px;
  transition: 0.3s;
  font-size: 14px;
  border-radius: 50px;
  font-family: "Open Sans", sans-serif;
}
.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  background: #5AB5AA;
  color: #ffff;
  text-decoration: none;
}
.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% - 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #ffff;
  box-shadow: 0 0 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
  border-radius: 15px;
  margin-top: 5px;
}
.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #4e616c;
}
.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: #5AB5AA;
  background: none;
}
.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}
.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}
@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
}
.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}
.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}
.nav-menu .drop-down .drop-down > a:after {
  content: "";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}
.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
@media (max-width: 1366px) {
  .nav-menu .drop-down:hover > ul {
    left: -100%;
  }
}
.nav-menu .drop-down > a:after {
  content: "";
  font-family: IcoFont;
  padding-left: 5px;
}
@media (max-width: 1366px) {
  .nav-menu .drop-down > a:after {
    content: "";
  }
}

/*--------------------------------------
Mobile Navigation
--------------------------------------*/
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}
.mobile-nav-toggle i {
  color: #ffff;
}

.burger-menu-ico.header-scrolled {
  color: #4e616c;
}

.mobile-nav {
  position: fixed;
  top: 7%;
  right: 3%;
  bottom: 40%;
  width: 25%;
  z-index: 9999;
  overflow-y: auto;
  background: #ffff;
  transition: ease-in-out 0.3s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
  text-align: center;
}
@media (max-width: 575px) {
  .mobile-nav {
    width: 45%;
  }
}
.mobile-nav a {
  display: block;
  position: relative;
  color: #4e616c;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}
.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #5AB5AA;
  text-decoration: none;
}
.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}
.mobile-nav .drop-down li {
  padding-left: 20px;
}
.mobile-nav .drop-down > a {
  padding-right: 35px;
}
.mobile-nav .drop-down > a:after {
  content: "";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}
.mobile-nav .active.drop-down > a:after {
  content: "";
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(20, 21, 28, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}
.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}
.mobile-nav-active .mobile-nav-toggle i {
  color: #ffff;
}

/*--------------------------------------
Hero Section
--------------------------------------*/
#hero {
  width: 100%;
  overflow: hidden;
  position: relative;
  background: url(../img/heroimage.png);
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
  background-position-y: -95px;
  background-size: cover;
  padding: 0;
}
@media (max-width: 575px) {
  #hero {
    background-position-x: -250px;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
  }
}
@media (max-width: 991px) {
  #hero {
    background-position-y: 0;
  }
}
#hero .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  height: 70vh;
  padding-top: 60px;
}
@media (max-width: 768px) {
  #hero .carousel-container {
    height: 90vh;
  }
}
#hero h2 {
  color: #ffff;
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 700;
}
@media (max-width: 768px) {
  #hero h2 {
    font-size: 28px;
  }
}
#hero p {
  width: 80%;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  margin: 0 auto 30px auto;
  color: #ffff;
  font-size: 16px;
}
@media (min-width: 1024px) {
  #hero p {
    width: 60%;
  }
  #hero p #hero .carousel-control-prev, #hero p #hero .carousel-control-next {
    width: 5%;
  }
}
#hero .carousel-control-prev, #hero .carousel-control-next {
  width: 10%;
}
@media (min-width: 1024px) {
  #hero .carousel-control-prev, #hero .carousel-control-next {
    width: 5%;
  }
}
#hero .carousel-control-next-icon, #hero .carousel-control-prev-icon {
  background: none;
  font-size: 48px;
  line-height: 1;
  width: auto;
  height: auto;
}
#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 50px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: #ffff;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 2px solid #5AB5AA;
  background: #5AB5AA;
}
#hero .btn-get-started:hover {
  border: 2px solid #00897B;
  background-color: #00897B;
  color: #ffff;
  text-decoration: none;
}

.hero-waves {
  display: block;
  width: 100%;
  height: 60px;
  position: relative;
}

.wave1 use {
  -webkit-animation: move-forever1 10s linear infinite;
  animation: move-forever1 10s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

.wave2 use {
  -webkit-animation: move-forever2 8s linear infinite;
  animation: move-forever2 8s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

.wave3 use {
  -webkit-animation: move-forever3 6s linear infinite;
  animation: move-forever3 6s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

@-webkit-keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}
@keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}
@-webkit-keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
@keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
@-webkit-keyframes move-forever3 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
@keyframes move-forever3 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
/*--------------------------------------
# Sections General
--------------------------------------*/
section {
  padding: 45px 0;
  overflow: hidden;
}

.section-title {
  padding-bottom: 40px;
}
.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: "Poppins", sans-serif;
}
.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #5AB5AA;
  margin: 4px 10px;
}
.section-title p {
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #4e616c;
}

/*--------------------------------------
# About
--------------------------------------*/
.about {
  padding-top: 80px;
}
@media (max-width: 375px) {
  .about .section-title p {
    font-size: 28px;
  }
}
.about .content h3 {
  font-weight: 600;
  font-size: 26px;
}
.about .content ul {
  list-style: none;
  padding: 0;
}
.about .content ul li {
  padding-left: 28px;
  position: relative;
}
.about .content ul li + li {
  margin-top: 10px;
}
.about .content ul i {
  position: absolute;
  left: 0;
  top: 2px;
  font-size: 20px;
  color: #5AB5AA;
  line-height: 1;
}
.about .content p:last-child {
  margin-bottom: 0;
}
.about .content .btn-learn-more {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 5px;
  transition: 0.3s;
  line-height: 1;
  color: #5AB5AA;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  margin-top: 6px;
  border: 2px solid #5AB5AA;
}
.about .content .btn-learn-more:hover {
  background: #5AB5AA;
  color: #ffff;
  text-decoration: none;
}

/*--------------------------------------
# Features
--------------------------------------*/
.features {
  padding-top: 0;
}
.features .nav-tabs {
  border: 0;
}
.features .nav-link {
  border: 1px solid #d4d6df;
  padding: 15px;
  transition: 0.3s;
  color: #4e616c;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 992px) {
  .features .nav-link {
    display: block;
    text-align: center;
    padding-top: 5px;
  }
}
.features .nav-link i {
  padding-right: 15px;
  font-size: 48px;
}
@media (max-width: 992px) {
  .features .nav-link i {
    padding-right: 0;
  }
}
@media (max-width: 768px) {
  .features .nav-link i {
    padding: 0;
    line-height: 1;
    font-size: 36px;
  }
}
@media (max-width: 575px) {
  .features .nav-link i {
    font-size: 38px;
  }
}
.features .nav-link h4 {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}
@media (max-width: 768px) {
  .features .nav-link h4 {
    font-size: 15px;
    margin: 0 auto;
  }
}
.features .nav-link:hover {
  color: #5AB5AA;
}
.features .nav-link.active {
  background: #5AB5AA;
  color: #ffff;
  border-color: #5AB5AA;
}
@media (max-width: 575px) {
  .features .nav-link {
    padding: 8px;
  }
}
.features .tab-content {
  margin-top: 30px;
}
.features .tab-pane h3 {
  font-weight: 600;
  font-size: 26px;
}
@media (max-width: 575px) {
  .features .tab-pane h3 {
    font-size: 20px;
  }
}
.features .tab-pane ul {
  list-style: none;
  padding: 0;
}
.features .tab-pane ul li {
  padding-bottom: 10px;
}
.features .tab-pane ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #5AB5AA;
}
.features .tab-pane p:last-child {
  margin-bottom: 0;
}
@media (max-width: 991px) {
  .features .tab-pane .image-box {
    width: 75%;
    padding-left: 25%;
  }
}
.features .guarantee-img {
  width: 400px;
}
@media (max-width: 991px) {
  .features .guarantee-img {
    width: 60%;
  }
}
.features #support-img, .features #quality-img {
  width: 400px;
}
@media (max-width: 991px) {
  .features #support-img, .features #quality-img {
    width: 80%;
  }
}

/*--------------------------------------
# Call to action
--------------------------------------*/
.cta {
  background: #4e616c;
  padding: 80px 0;
}
@media (max-width: 991px) {
  .cta {
    padding: 25px 0;
  }
}
.cta h3 {
  color: #ffff;
  font-size: 28px;
  font-weight: 700;
}
.cta p {
  color: #ffff;
}
.cta .cta-btn {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 30px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  color: #ffff;
  background: #5AB5AA;
}
.cta .cta-btn:hover {
  background: #ffff;
  color: #5AB5AA;
}
@media (min-width: 992px) {
  .cta .cta-btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
@media (max-width: 1024px) {
  .cta {
    background-attachment: scroll;
  }
}

/*--------------------------------------
# Services
--------------------------------------*/
@media (max-width: 380px) {
  .services .section-title p {
    font-size: 28px;
  }
}
.services .icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  background: #ffff;
  box-shadow: 0 2px 29px 0 rgba(68, 88, 144, 0.12);
  transition: all 0.4s ease-in-out;
  width: 100%;
  height: 100%;
}
.services .icon-box:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 35px 0 rgba(68, 88, 144, 0.2);
}
.services .icon {
  position: absolute;
  left: -20px;
  top: calc(50% - 30px);
}
.services .icon i {
  font-size: 64px;
  line-height: 1;
  transition: 0.5s;
}
.services #shopping-cart {
  left: -10px;
}
.services #creative-design {
  left: -10px;
}
.services #responsive-design {
  left: -10px;
}
.services .title {
  margin-left: 40px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}
.services .title a {
  color: #4e616c;
  transition: ease-in-out 0.3s;
}
.services .title a:hover {
  color: #5AB5AA;
}
.services .description {
  font-size: 14px;
  margin-left: 40px;
  line-height: 24px;
  margin-bottom: 0;
}

/*--------------------------------------
# Portfolio
--------------------------------------*/
@media (max-width: 375px) {
  .portfolio .section-title p {
    font-size: 28px;
  }
}
.portfolio #portfolio-filters {
  list-style: none;
  margin-bottom: 20px;
}
.portfolio #portfolio-filters li {
  cursor: pointer;
  display: inline-block;
  margin: 0 0 10px 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  color: #444444;
  transition: all 0.3s ease-in-out;
}
.portfolio #portfolio-filters li::before {
  content: "[";
  margin-right: 6px;
  color: #ffff;
  font-size: 18px;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
}
.portfolio #portfolio-filters li::after {
  content: "]";
  margin-left: 6px;
  color: #ffff;
  font-size: 18px;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
}
.portfolio #portfolio-filters li:hover, .portfolio #portfolio-filters li.filter-active {
  color: #5AB5AA;
}
.portfolio #portfolio-filters li.filter-active::before, .portfolio #portfolio-filters li.filter-active::after {
  color: #5AB5AA;
}
.portfolio .portfolio-item {
  margin-bottom: 30px;
}
.portfolio .portfolio-item .portfolio-img {
  overflow: hidden;
  border-radius: 15px;
}
.portfolio .portfolio-item .portfolio-img img {
  transition: all 0.8s ease-in-out;
}
.portfolio .portfolio-item .portfolio-info {
  opacity: 0;
  position: absolute;
  left: 15px;
  bottom: 0;
  z-index: 3;
  right: 15px;
  transition: all ease-in-out 0.3s;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 15px;
}
.portfolio .portfolio-item .portfolio-info h4 {
  font-size: 18px;
  font-weight: 600;
  color: #ffff;
  margin-bottom: 0;
}
.portfolio .portfolio-item .portfolio-info p {
  color: #fedac0;
  font-size: 14px;
  margin-bottom: 0;
}
.portfolio .portfolio-item .portfolio-info .preview-link, .portfolio .portfolio-item .portfolio-info .details-link {
  position: absolute;
  right: 40px;
  font-size: 24px;
  top: calc(50% - 18px);
  color: #ffff;
  transition: 0.3s;
}
.portfolio .portfolio-item .portfolio-info .preview-link:hover, .portfolio .portfolio-item .portfolio-info .details-link:hover {
  color: #5AB5AA;
}
.portfolio .portfolio-item .portfolio-info .details-link {
  right: 10px;
}
.portfolio .portfolio-item .portfolio-links {
  opacity: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 3;
  position: absolute;
  transition: all ease-in-out 0.3s;
}
.portfolio .portfolio-item .portfolio-links a {
  color: #ffff;
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}
.portfolio .portfolio-item .portfolio-links a:hover {
  color: #5AB5AA;
}
.portfolio .portfolio-item:hover .portfolio-img img {
  transform: scale(1.2);
}
.portfolio .portfolio-item:hover .portfolio-info {
  opacity: 1;
}

/*--------------------------------------
# Testimonials
--------------------------------------*/
.testimonials .testimonial-item {
  box-sizing: content-box;
  padding: 30px 30px 0 30px;
  margin: 30px 15px;
  text-align: center;
  min-height: 350px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
}
.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 50%;
  border: 4px solid #ffff;
  margin: 0 auto;
}
.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}
.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #777777;
  margin: 0;
}
.testimonials .testimonial-item .quote-icon-left, .testimonials .testimonial-item .quote-icon-right {
  color: #fedac0;
  font-size: 26px;
}
.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}
.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}
.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 auto 15px auto;
}
.testimonials .owl-nav, .testimonials .owl-dots {
  margin-top: 5px;
  text-align: center;
}
.testimonials .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #d4d6df !important;
}
.testimonials .owl-dot.active {
  background-color: #5AB5AA !important;
}
@media (max-width: 767px) {
  .testimonials {
    margin: 30px 10px;
  }
}

/*--------------------------------------
# Pricing
--------------------------------------*/
.pricing {
  padding-bottom: 20px;
}
@media (max-width: 767px) {
  .pricing .section-title p {
    font-size: 28px;
  }
}
@media (max-width: 460px) {
  .pricing .section-title p {
    font-size: 22px;
  }
}
@media (max-width: 374px) {
  .pricing .section-title p {
    font-size: 18px;
  }
}
.pricing .pricing-container {
  margin: 0 auto;
}
.pricing .shopify-question {
  text-align: center;
  color: #4e616c;
  font-size: 20px;
}
.pricing .shopify-question p {
  margin-bottom: 0;
}
@media (max-width: 575px) {
  .pricing .shopify-question p {
    font-size: 22px;
  }
}
.pricing .shopify-question img {
  max-width: 35px;
  margin-bottom: 8px;
}
@media (max-width: 575px) {
  .pricing .shopify-question img {
    display: block;
    margin: 0 auto;
  }
}
.pricing .row-includes {
  margin: 1%;
}
.pricing .row-includes .box-includes {
  font-size: 14px;
  padding: 1%;
  border: 1px solid #a0a0a0;
  border-radius: 35px;
  text-align: center;
  margin: 0 auto 1% 6%;
  cursor: pointer;
}
.pricing .row-includes .box-includes:hover {
  transform: scale(1.1);
  border-color: #5AB5AA;
  color: #5AB5AA;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .pricing .row-includes .box-includes {
    font-size: 12px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .pricing .row-includes .box-includes {
    margin: 0 auto 1% 6%;
  }
}
@media (max-width: 767px) {
  .pricing .row-includes .box-includes {
    margin: 0 auto 1%;
  }
}
@media (max-width: 375px) {
  .pricing .row-includes .box-includes {
    font-size: 13px;
  }
}
.pricing .includes-description {
  color: #4e616c;
}
.pricing .not-included {
  font-size: 12px;
  padding-right: 25%;
}
@media (max-width: 991px) {
  .pricing .not-included {
    padding-right: 10%;
  }
}
@media (max-width: 767px) {
  .pricing .not-included {
    padding-right: 0;
  }
}
@media (max-width: 575px) {
  .pricing .not-included {
    font-size: 10px;
  }
}
.pricing .filter-ecommerce .box {
  min-height: 795px;
}
@media (max-width: 1199px) {
  .pricing .filter-ecommerce .box {
    min-height: 830px;
  }
}
@media (max-width: 991px) {
  .pricing .filter-ecommerce .box {
    min-height: 790px;
  }
}
@media (max-width: 767px) {
  .pricing .filter-ecommerce .box {
    min-height: auto;
  }
}
@media (min-width: 1200px) {
  .pricing .filter-ecommerce .btn-wrap {
    position: absolute;
    left: 33%;
    bottom: 2%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .pricing .filter-ecommerce .btn-wrap {
    position: absolute;
    left: 27%;
    bottom: 2%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .pricing .filter-web .btn-wrap {
    position: absolute;
    left: 20%;
    bottom: 2%;
  }
}
.pricing #pricing-filters {
  list-style: none;
  margin-bottom: 20px;
}
.pricing #pricing-filters li {
  cursor: pointer;
  display: inline-block;
  padding-top: 15px;
  margin: 0 5% 2%;
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #7c8ea0;
  border-color: #7c8ea0;
  transition: all 0.3s ease-in-out;
}
.pricing #pricing-filters li:hover, .pricing #pricing-filters li.filter-active {
  color: #ffff;
  background-color: #4e616c;
  border-color: #4e616c;
}
@media (max-width: 405px) {
  .pricing #pricing-filters li {
    font-size: 18px;
  }
}
@media (max-width: 374px) {
  .pricing #pricing-filters li {
    font-size: 14px;
  }
}
.pricing .crossed-price {
  font-size: 1rem;
  color: rgba(222, 0, 0, 0.7);
  text-decoration: none;
  position: relative;
}
@media (max-width: 767px) {
  .pricing .crossed-price {
    font-size: 1.5rem;
  }
}
.pricing .crossed-price:before {
  content: " ";
  display: block;
  width: 100%;
  border-top: 2px solid rgba(255, 0, 0, 0.6);
  height: 12px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: rotate(-7deg);
}
@media (max-width: 767px) {
  .pricing .crossed-price:before {
    height: 16px;
  }
}
.pricing .crossed-price span {
  font-size: 0.75rem;
}
@media (max-width: 767px) {
  .pricing .crossed-price span {
    font-size: 1rem;
  }
}
.pricing .box {
  padding: 20px;
  background: #ffff;
  text-align: center;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .pricing .box {
    min-height: 880px;
  }
}
.pricing h3 {
  margin: -20px -20px 5% -20px;
  padding: 30px 15px 5%;
  font-size: 30px;
  font-weight: 900;
  color: #777777;
  background: #ffff;
}
@media (max-width: 767px) {
  .pricing h3 {
    margin: 0;
    padding: 10px 15px;
    font-size: 45px;
  }
}
@media (max-width: 575px) {
  .pricing h3 {
    font-size: 32px;
  }
}
.pricing h4 {
  font-size: 36px;
  color: #4e616c;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .pricing h4 {
    font-size: 50px;
  }
}
.pricing h4 sup {
  font-size: 20px;
  top: -15px;
  left: -3px;
}
.pricing h4 span {
  color: #d4d6df;
  font-size: 16px;
  font-weight: 300;
}
.pricing h5 {
  font-size: 16px;
  margin-bottom: 25px;
  color: #7c8ea0;
}
.pricing h5 span {
  color: #7c8ea0;
}
.pricing h5 p {
  color: #4e616c;
}
.pricing ul {
  padding: 0 2%;
  list-style: none;
  color: #444444;
  text-align: left;
  line-height: 20px;
  font-size: 14px;
}
.pricing ul li {
  padding-bottom: 16px;
}
.pricing ul i {
  color: #7c8ea0;
  font-size: 15px;
  padding-right: 4px;
}
.pricing ul .na {
  color: #d4d6df;
  text-decoration: line-through;
}
.pricing ul .text-muted {
  color: #d4d6df !important;
}
.pricing .btn-wrap {
  margin: 20px -20px -20px -20px;
  margin-top: 0;
  padding: 0 15px 20px;
  background: #ffff;
  text-align: center;
}
.pricing .btn-buy {
  background: #7c8ea0;
  display: inline-block;
  padding: 8px 35px 10px 35px;
  border-radius: 50px;
  color: #ffff;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  transition: 0.3s;
}
.pricing .btn-buy:hover {
  background: #4e616c;
}
.pricing .featured {
  border: 2px solid #4e616c;
}
.pricing .featured h3 {
  margin: -20px -30px 25px -20px;
  margin-bottom: 5%;
  padding: 13px 15px 0;
  font-weight: 600;
  color: #ffff;
  background: #4e616c;
  font-size: 25px;
}
.pricing .featured h3 p {
  margin-bottom: 0;
  top: 7px;
  position: relative;
}
.pricing .featured h3 span {
  position: relative;
  font-size: 12px;
  top: 3px;
  font-weight: 500;
}
.pricing .featured ul {
  padding: 0;
}
.pricing .advanced {
  width: 200px;
  position: absolute;
  top: 18px;
  right: -68px;
  transform: rotate(45deg);
  z-index: 1;
  font-size: 14px;
  padding: 1px 0 3px 0;
  background: #4e616c;
  color: #ffff;
}

/*--------------------------------------
# F.A.Q
--------------------------------------*/
.faq {
  padding: 60px 0;
}
.faq .faq-list {
  padding: 0;
  list-style: none;
}
.faq .faq-list li {
  padding: 0 0 20px 25px;
}
.faq .faq-list a {
  display: block;
  position: relative;
  font-family: #5AB5AA;
  font-size: 18px;
  font-weight: 500;
}
.faq .faq-list i {
  font-size: 18px;
  position: absolute;
  left: -25px;
  top: 6px;
}
.faq .faq-list p {
  margin-bottom: 20px;
  font-size: 15px;
}
.faq .faq-list a.collapse {
  color: #5AB5AA;
}
.faq .faq-list a.collapsed {
  color: #343a40;
}
.faq .faq-list a.collapsed:hover {
  color: #5AB5AA;
}
.faq .faq-list a.collapsed i::before {
  content: "" !important;
}

/*--------------------------------------
# Team
--------------------------------------*/
.team {
  background: #ffff;
  padding: 60px 0;
}
.team .member {
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 5px;
  background: #ffff;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}
.team .member .member-img {
  position: relative;
  overflow: hidden;
}
.team .member .social {
  position: absolute;
  left: 0;
  bottom: 30px;
  right: 0;
  opacity: 0;
  transition: ease-in-out 0.3s;
  text-align: center;
}
.team .member .social a {
  margin: 0 3px;
  padding-top: 7px;
  border-radius: 50px;
  width: 36px;
  height: 36px;
  background: rgba(239, 102, 3, 0.8);
  display: inline-block;
  transition: ease-in-out 0.3s;
  color: #ffff;
}
.team .member .social a:hover {
  background: #5AB5AA;
}
.team .member .social i {
  font-size: 18px;
}
.team .member .member-info {
  padding: 25px 15px;
}
.team .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 18px;
  color: #4e616c;
}
.team .member .member-info span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #aaaaaa;
}
.team .member .member-info p {
  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  color: #777777;
}
.team .member:hover .social {
  opacity: 1;
  bottom: 15px;
}

/*--------------------------------------
# Contact
--------------------------------------*/
.contact .section-title {
  padding-bottom: 15px;
}
@media (max-width: 375px) {
  .contact .section-title p {
    font-size: 30px;
  }
}
.contact .info {
  width: 100%;
  background: #ffff;
}
.contact .info i {
  font-size: 20px;
  color: #5AB5AA;
  float: left;
  width: 44px;
  height: 44px;
  background: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}
.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #4e616c;
}
.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #4e616c;
}
.contact .info .email, .contact .info .phone {
  margin-top: 40px;
}
@media (max-width: 991px) {
  .contact .info .email, .contact .info .phone {
    margin-top: 0;
  }
}
@media (max-width: 767px) {
  .contact .info .address, .contact .info .email, .contact .info .phone {
    display: inline-block;
    margin-bottom: 15px;
  }
  .contact .info .address i, .contact .info .email i, .contact .info .phone i {
    text-align: right;
    font-size: 30px;
  }
  .contact .info .address h4, .contact .info .email h4, .contact .info .phone h4 {
    display: inline-block;
    font-size: 20px;
    padding: 10px 0 0 10px;
  }
  .contact .info .address p, .contact .info .email p, .contact .info .phone p {
    display: inline-block;
    margin: 0 auto;
    font-size: 16px;
    padding: 0 0 0 5px;
  }
}
@media (max-width: 575px) {
  .contact .info .address, .contact .info .email, .contact .info .phone {
    margin-left: 23%;
  }
}
@media (max-width: 500px) {
  .contact .info .address, .contact .info .email, .contact .info .phone {
    margin-left: 19%;
  }
}
@media (max-width: 440px) {
  .contact .info .address, .contact .info .email, .contact .info .phone {
    margin-left: 15%;
  }
}
@media (max-width: 410px) {
  .contact .info .address, .contact .info .email, .contact .info .phone {
    margin-left: 0;
  }
}
@media (max-width: 360px) {
  .contact .info .address i, .contact .info .email i, .contact .info .phone i {
    font-size: 20px;
  }
  .contact .info .address h4, .contact .info .address p, .contact .info .email h4, .contact .info .email p, .contact .info .phone h4, .contact .info .phone p {
    font-size: 15px;
    padding-left: 0;
    padding-top: 10px;
  }
}
.contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
  background: #5AB5AA;
  color: #ffff;
}
.contact .php-email-form {
  width: 100%;
  background: #ffff;
}
.contact .php-email-form .form-group {
  padding-bottom: 8px;
  color: #7c8ea0;
}
.contact .php-email-form .form-group a {
  color: #5AB5AA;
}
.contact .php-email-form .form-group .form-check-input {
  height: initial;
}
.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}
.contact .php-email-form .error-message {
  display: none;
  color: #ffff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}
.contact .php-email-form .sent-message {
  display: none;
  color: #ffff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .loading {
  display: none;
  background: #ffff;
  text-align: center;
  padding: 15px;
}
.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #7c8ea0;
  border-top-color: #ffff;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}
.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  color: #4e616c;
  font-weight: 700;
}
.contact .php-email-form input::placeholder, .contact .php-email-form textarea::placeholder {
  color: #7c8ea0;
  font-weight: normal;
}
.contact .php-email-form input {
  height: 44px;
}
.contact .php-email-form textarea {
  padding: 10px 12px;
}
.contact .php-email-form button[type=submit] {
  background: #5AB5AA;
  border: 0;
  padding: 10px 24px;
  color: #ffff;
  transition: 0.4s;
  border-radius: 50px;
}
.contact .php-email-form button[type=submit]:hover {
  background: #5AB5AA;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*--------------------------------------
# Breadcrumbs
--------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  margin-top: 70px;
  background: #ffff;
  min-height: 40px;
}
.breadcrumbs h2 {
  font-size: 28px;
  font-weight: 400;
  margin: 0;
}
.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}
.breadcrumbs ol li + li {
  padding-left: 10px;
}
.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #7c8ea0;
  content: "/";
}
@media (max-width: 768px) {
  .breadcrumbs ol li {
    display: inline-block;
  }
}
@media (max-width: 992px) {
  .breadcrumbs ol {
    margin-top: 10px;
  }
}
@media (max-width: 768px) {
  .breadcrumbs ol {
    display: block;
  }
}
@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }
}

/*--------------------------------------
# Portfolio Details
--------------------------------------*/
.portfolio-details {
  padding-top: 40px;
}
.portfolio-details .portfolio-details-container {
  position: relative;
}
.portfolio-details .portfolio-details-carousel {
  position: relative;
  z-index: 1;
}
.portfolio-details .portfolio-details-carousel .owl-nav, .portfolio-details .portfolio-details-carousel .owl-dots {
  margin-top: 5px;
  text-align: left;
}
.portfolio-details .portfolio-details-carousel .owl-dot {
  display: inline-block;
  margin: 0 10px 0 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #d4d6df !important;
}
.portfolio-details .portfolio-details-carousel .owl-dot.active {
  background-color: #5AB5AA !important;
}
.portfolio-details .portfolio-info {
  padding: 30px;
  position: absolute;
  right: 0;
  bottom: -70px;
  background: #ffff;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  z-index: 2;
}
.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #aaaaaa;
}
.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}
.portfolio-details .portfolio-info ul li + li {
  margin-top: 10px;
}
@media (max-width: 768px) {
  .portfolio-details .portfolio-info {
    position: static;
    margin-top: 30px;
  }
}
.portfolio-details .portfolio-description {
  padding-top: 50px;
}
.portfolio-details .portfolio-description h2 {
  width: 50%;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}
.portfolio-details .portfolio-description p {
  padding: 0 0 0 0;
}

/*--------------------------------------
# Footer
--------------------------------------*/
#footer {
  background: #4e616c;
  color: #ffff;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
}
#footer h3 {
  font-size: 36px;
  font-weight: 700;
  color: #ffff;
  position: relative;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0 0 15px 0;
}
@media (max-width: 767px) {
  #footer h3 {
    font-size: 28px;
  }
}
#footer p {
  font-size: 15px;
  font-style: italic;
  padding: 0;
  margin: 0 0 40px 0;
}
#footer .social-links {
  margin: 0 0 40px 0;
}
#footer .social-links a {
  font-size: 30px;
  display: inline-block;
  background: #5AB5AA;
  color: #ffff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 15px;
  border-radius: 50%;
  text-align: center;
  width: 48px;
  height: 48px;
  transition: 0.3s;
}
#footer .social-links a i {
  padding-right: 1px;
}
#footer .social-links a:hover {
  background: #5AB5AA;
  color: #ffff;
  text-decoration: none;
}
#footer .copyright {
  margin: 0 0 5px 0;
}
#footer .credits {
  font-size: 13px;
}

/*--------------------------------------
# Preloader
--------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #4e616c;
  border-top: 6px solid #f8f8f8;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*--------------------------------------
# Whatsapp Button
--------------------------------------*/
.btn-whatsapp {
  display: none;
  font-size: 60px;
  color: #fff;
  position: fixed;
  height: 80px;
  width: 80px;
  bottom: 20px;
  left: 20px;
  border-radius: 50%;
  border: 1px solid #25d366;
  line-height: 77px;
  text-align: center;
  z-index: 999;
  background-color: #25d366;
}
@media (max-width: 767px) {
  .btn-whatsapp {
    height: 60px;
    width: 60px;
    font-size: 50px;
    line-height: 58px;
  }
}
.btn-whatsapp i {
  color: #ffff;
}
@media (max-width: 767px) {
  .btn-whatsapp i {
    padding-left: 1px;
  }
}
.btn-whatsapp:hover {
  background-color: #5AB5AA;
  border: 1px solid #5AB5AA;
}

/*--------------------------------------
# Venobox
--------------------------------------*/
.vbox-overlay {
  background: rgba(175, 175, 175, 0.85) !important;
}

.vbox-container img {
  background: transparent !important;
  box-shadow: none;
  max-height: -webkit-fill-available;
}

/*--------------------------------------
# Modal
--------------------------------------*/
@media (max-width: 600px) {
  .modal {
    margin-top: 35px;
  }
  .modal .modal-dialog {
    margin-bottom: 75px;
  }
}

/*# sourceMappingURL=style.css.map */
