
RewriteEngine on

RewriteOptions inherit
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^herydigital\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.herydigital\.com$
RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/cpanel-dcv/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/(?:\ Ballot169)?
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^/?$ "https\:\/\/herydigital\.com\/" [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html

ErrorDocument 400 /page-400.html
ErrorDocument 403 /page-403.html
ErrorDocument 404 /page-404.html
ErrorDocument 500 /page-500.html
ErrorDocument 503 /page-503.html

# BEGIN Expire headers
<IfModule mod_expires.c>
  ExpiresActive on
  ExpiresDefault A1
  ExpiresByType image/jpg "access plus 2 days"
  ExpiresByType image/jpeg "access plus 2 days"
  ExpiresByType image/webp "access plus 2 days"
  ExpiresByType image/svg+xml "access plus 1 month"
  ExpiresByType image/gif "access plus 1 month"
  ExpiresByType image/png "access plus 1 month"
  ExpiresByType image/ico "access plus 1 month"
  ExpiresByType image/x-icon "access plus 1 month"
  ExpiresByType text/html "access plus 2 days"
  ExpiresByType text/css "access plus 3 month"
  ExpiresByType text/javascript "access plus 3 month"
  ExpiresByType application/javascript "access plus 3 month"
  ExpiresByType application/x-shockwave-flash "access plus 1 year"
</IfModule>
# END Expire headers

# BEGIN Cache-Control Headers
<ifModule mod_headers.c>
  Header append Cache-Control must-revalidate
  <filesMatch "\.(ico|jpg|jpeg|jpe?g|webp|png|gif|swf)$">
    Header set Cache-Control "public"
  </filesMatch>
  <filesMatch "\.(css)$">
    Header set Cache-Control "public"
  </filesMatch>
  <filesMatch "\.(js)$">
    Header set Cache-Control "private"
  </filesMatch>
  <filesMatch "\.(x?html?|php)$">
    Header set Cache-Control "private, must-revalidate"
  </filesMatch>
</ifModule>
# END Cache-Control Headers